/* nejsme vcerejsi, pouzivame moderni box model */
*, :after, :before { box-sizing: border-box; }

body {
	font-family: sans-serif;
}


.hlavicka {
	background-color: #3498db;
	color: white;
}

a {
	display: block;
	padding: 5px 15px;
	color: white;
	text-decoration: none;
}

a:hover {
	background-color: white;
	color: #3498db;
}

/* ---------------------------------------------------- */
.hlavicka {
	display: flex;
	justify-content: space-between;
}
.logo {
	padding: 10px 20px;
	font-size: 30px;
	font-weight: 600;
	text-transform: uppercase;
}
.navbar {
	display: flex;
	list-style: none;
	margin: 0;
}
.navbar li {
	padding: 0;
	margin: 1px;
	display: flex;
}
.navbar a {
	display: flex;
	align-items: center;
}